{% extends "feedreader/base.html" %}

{% block head %}
{% endblock head %}

{% block content_header %}
<button id="button_refresh" title="Refresh"><span class="ui-icon ui-icon-refresh"></span></button>
<button id="button_mark_all_as_read">Mark all as read</button>
<button id="button_show_only_new"></button>
<button id="button_sort_order"></button>
<span id="scroll_pos"></span>
<div style="float:right">
	<button id="button_toggle_fullscreen" title="Toggle fullscreen">Toggle fullscreen</button>
	<button id="button_prev_post" title="Previous post"><span class="ui-icon ui-icon-triangle-1-n"></span></button>
	<button id="button_next_post" title="Next post"><span class="ui-icon ui-icon-triangle-1-s"></span></button>
</div>
{% endblock content_header %}

{% block content %}
<script type="text/template" id="postTemplate">
<div class="post" id="post_{0}">
	<div class="body">
		<div class="link"><a href="{1}" target="_blank">{2}</a></div>
		<div class="pubDate">{3}</div>
		<div class="source">{4}</div>
		<br>
		<div class="content">{5}</div>
	</div>
	<div class="footer">
		<label for="cb_action_starred_post_{0}"><input id="cb_action_starred_post_{0}" class="action starred" type="checkbox" name="starred" value="1"{6}> Starred</label>
		<label for="cb_action_read_post_{0}"><input id="cb_action_read_post_{0}" class="action read" type="checkbox" name="read" value="1"{7}> Mark as read</label>
	</div>
</div>
</script>
<h3 id="outline_title"><a target="_blank">{% if outline %}{{ outline }}{% endif %}</a></h3>
<div id="posts"></div>
<div id="load_more_posts"><a class="button">Load more posts</a></div>
<div id="no_more_posts">No more posts.</div>
<div style="height: 50%"></div>
{% endblock content %}
