<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Feedreader</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.9.1.custom.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript">jQuery.uiBackCompat = false;</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.1.custom.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/outline.js"></script>
{% block head %}{% endblock head %}
</head>
<body>
<div id="result" class="ui-helper-hidden ui-widget">
	<div id="result_container" class="ui-state-error ui-corner-all">
		<p>
			<span id="result_icon" class="ui-icon ui-icon-alert"></span>
			<strong id="result_caption"><span id="result_caption_text">Result</span>: </strong>
			<span id="result_text"></span>
		</p>
	</div>
</div>
<div id="header" class="header row">
<h1>Feedreader</h1>
</div>
<div id="navigation" class="left col scroll-y">
	{% if user.is_authenticated %}
		<p>Welcome, {{ user.username }} [<a href="{% url 'logout' %}">Logout</a>]</p>
		<p><a id="button_options" class="button">Options</a> <a id="button_refresh_page" class="button">Refresh</a></p>
		{% block navigation %}{% endblock navigation %}
	{% else %}
		<p>Welcome, new user. Please log in.</p>
	{% endif %}
</div>
<div id="body" class="right col">
	<div class="content_header row">{% block content_header %}{% endblock content_header %} <img id="spinner" src="{{ STATIC_URL }}images/spinner.gif"></div>
	<div id="content" class="content row scroll-y">
		{% block content %}{% endblock content %}
		<div style="height: 50%"></div>
	</div>
</div>
</body>
</html>
