{% if outline_list %}
<ul id="outlines" class="feeds">
    {% for outline in outline_list %}
	<li class="outline {% if outline.feed_id %}feed{% else %}folder{% if not outline.folder_opened %} folder-closed{% endif %}{% endif %}" id="outline-{{ outline.id }}">
		<div class="outline-line"{% if outline.feed_id %} style="background-image:url('{% url 'feed_favicon' outline.feed_id %}')"{% endif %}>
			<a class="outline-text" href="{% url 'outline' outline.id %}">{{ outline.title }}</a>
			<span class="outline-unread-count" id="outline-unread-count-{{ outline.id }}"></span>
		</div>
		{% if outline.children %}
		<ul>
			{% for child in outline.children %}
			<li class="outline feed" id="outline-{{ child.id }}">
				<div class="outline-line" style="background-image:url('{% url 'feed_favicon' child.feed_id %}')">
					<a class="outline-text" href="{% url 'outline' child.id %}">{{ child.title }}</a>
					<span class="outline-unread-count" id="outline-unread-count-{{ child.id }}"></span>
				</div>
				
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
    {% endfor %}
</ul>

{% else %}
    <p>No outlines are available.</p>
{% endif %}
