{% if outline_list %}
<ul id="outlines" class="feeds">
    {% for outline in outline_list %}
	<li class="{% if outline.feed_id %}feed{% else %}folder{% endif %}">
		<span class="outline"{% if outline.feed_id %} style="background-image:url('{% url 'feed_favicon' outline.feed_id %}')"{% endif %}><a href="{% url 'outline' outline.id %}">{{ outline.title }}</a></span>
		{% if outline.children %}
		<ul>
			{% for child in outline.children %}
			<li class="feed">
				<span class="outline" style="background-image:url('{% url 'feed_favicon' child.feed_id %}')"><a href="{% url 'outline' child.id %}">{{ child.title }}</a></span>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
    {% endfor %}
</ul>

{% else %}
    <p>No outlines are available.</p>
{% endif %}
