[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "==5.2.1"
beautifulsoup4 = "~=4.8.1"
django-mptt = "~=0.11.0"
celery = "~=4.4.0"
redis = "==3.3.11"
django-extensions = "~=2.2.5"
Django = "~=2.2.18"
django_celery_beat = "==1.5.0"
psycopg2 = "==2.8.4"
pillow = "~=7.1.0"
gunicorn = "~=20.0.4"
sentry-sdk = "~=0.17.6"
aiohttp = "==3.6.2"

[dev-packages]
django-debug-toolbar = "==2.1"
django-debug-toolbar-request-history = "==0.1.0"

[requires]
python_version = "3.8"
