Django==2.0.3
Pillow==5.0.0
feedparser==5.2.1
beautifulsoup4==4.6.0
django-mptt==0.9.0
psycopg2-binary==2.7.4
celery==4.1.0
django-celery-beat==1.1.1
redis==2.10.6
django-extensions==2.0.3
raven==6.6.0
