{% load static %}
{% load app_version %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Feedreader</title>
<base href="{% url 'index' %}">
<meta name="viewport" content="width=device-width">

<link rel="icon" href="{% static 'images/favicon.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/smoothness/jquery-ui-1.10.3.custom.min.css' %}">

<script type="text/javascript" src="{% static 'js/lodash.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>

{% block head %}{% endblock head %}
</head>
<body data-media-url="{% get_media_prefix %}">
<div id="result" class="ui-helper-hidden ui-widget">
	<div id="result_container" class="ui-state-error ui-corner-all">
		<p>
			<span id="result_icon" class="ui-icon ui-icon-alert"></span>
			<strong id="result_caption"><span id="result_caption_text">Result</span>: </strong>
			<span id="result_text"></span>
		</p>
	</div>
</div>
{% if user.is_authenticated %}
<div id="new-feed-popup" class="ui-helper-hidden" title="Add new feed">
	<label for="new-feed-url">URL: <input id="new-feed-url" type="text"></label>
</div>
{% endif %}
<div id="navigation" class="left col scroll-y">
	<h1>Feedreader</h1>
	{% if user.is_authenticated %}
		<p>Welcome, {{ user.username }} [<a href="{% url 'admin:index' %}">manage</a>] [<a href="{% url 'logout' %}">Logout</a>]</p>
		<p>
			<a id="button-new-feed" class="button">Add a new feed</a>
			<br>
			<a id="button-options" class="button">Options</a>
			<a id="button_refresh_page" class="button">Refresh</a>
		</p>
		<ul class="options clean">
		</ul>
		<hr class="options" />
		{% include "feedreader/navigation.html" %}
	{% else %}
		<p>Welcome. Please log in.</p>
	{% endif %}
</div>
<div id="body" class="right col">
	{% if user.is_authenticated %}<div class="content_header row">{% block content_header %}{% endblock content_header %} <!--img id="spinner" src="{{ STATIC_URL }}images/spinner.gif" alt="loading..."--></div>{% endif %}
	<div id="content" class="content row scroll-y" tabindex="0">
		{% block content %}{% endblock content %}
	</div>
</div>
<div id="version" class="footer row"><a target="_blank" href="https://github.com/jawsper/feedreader">Feedreader</a> v{% app_version %}</div>

{% if user.is_authenticated %}
<script src="{% url 'script_urls' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/outline.js' %}"></script>
{% endif %}

</body>
</html>
