{% load static %}
{% load app_version %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Feedreader</title>
<base href="{% url 'index' %}">
<meta name="viewport" content="width=device-width">

<link rel="icon" href="{% static 'images/favicon.png' %}">

{% render_bundle 'main' 'css' %}

{% block head %}{% endblock head %}
</head>
<body
	data-version="{% app_version %}"
	data-media-url="{% get_media_prefix %}"
	data-username="{{ user.username }}"
	data-manage-url="{% url 'admin:index' %}"
	data-logout-url="{% url 'logout' %}"
>
<div id="app">
	<div id="toast"></div>
	{% if user.is_authenticated %}
	<div id="new-feed-popup" class="ui-helper-hidden" title="Add new feed">
		<label for="new-feed-url">URL: <input id="new-feed-url" type="text"></label>
	</div>
	{% endif %}
	<div class="sidebar">
		<div class="navbar navbar-expand-md navbar-light bg-white global-header">
			<a class="navbar-brand pb-0" title="Feedreader" href="/">
				<h6>Feedreader</h6>
			</a>
		</div>
		<div id="sidebar" class="d-md-flex flex-column align-items-stretch collapse navbar-collapse">
			<div class="aside">
				{% if user.is_authenticated %}
				<div class="px-3">
					{% include "feedreader/navigation.html" %}
				</div>
				{% else %}
					<p class="px-3 pt-3">Welcome. Please log in.</p>
				{% endif %}
			</div>
			<div id="version" class="p-2 fs-6">
				<a target="_blank" href="https//github.com/jawsper/feedreader">Feedreader</a> v{% app_version %}
			</div>
		</div>
</div>
<main class="px-0">
	<div class="flex-grow-1">
		<!-- Posts -->
		{% block content %}{% endblock content %}
		<!-- /Posts -->
	</div>
</main>
</div>
{% if user.is_authenticated %}
{{ urls | json_script:"urls" }}
{{ navigation | json_script:"navigation" }}
{{ config | json_script:"config"}}
{% render_bundle 'main' 'js' %}
{% endif %}


</body>
</html>
