{% extends "feedreader/base.html" %}
{% block head %}{% endblock head %}
{% block content %}
<div class="d-block navbar-right-half">
  <div class="navbar navbar-expand-sm navbar-light global-header">
    <div class="collapse navbar-collapse content-max">
      <div class="navbar-nav">
        <div class="nav-item btn-group">
          <button
            class="btn btn-outline-dark"
            type="button"
            title="Toggle fullscreen"
          >
            <i class="bi bi-arrows-fullscreen"></i>
          </button>
          <button class="btn btn-outline-dark" type="button">
            <i class="bi bi-arrow-clockwise"></i>
            Refresh navigation
          </button>
          <button class="btn btn-outline-dark" type="button">
            <i class="bi bi-arrow-clockwise"></i>
            Refresh posts
          </button>
          <button class="btn btn-outline-dark" type="button" disabled>
            Mark all as read
          </button>
          <button class="btn btn-outline-dark" type="button">&nbsp;</button>
          <button class="btn btn-outline-dark">&nbsp;</button>
        </div>
      </div>
      <div class="navbar-nav ms-auto">
        <span class="navbar-text">Welcome, {{ user.username }} |</span>
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
            >Display options</a
          >
          <ul class="dropdown-menu"><li></li></ul>
        </div>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
          <div class="btn-group ms-3">
            {% csrf_token %}
            <button
              type="button"
              class="nav-item btn btn-outline-dark"
              data-bs-toggle="modal"
              data-bs-target="#new-feed-modal"
            >
              Add a new feed
            </button>
            <a
              class="nav-item btn btn-outline-dark"
              href="{% url 'admin:index' %}"
            >
              <i class="bi bi-gear"></i>
              Manage
            </a>
            <button type="submit" class="btn btn-outline-dark">
              <i class="bi bi-box-arrow-left"></i>
              Logout
            </button>
          </div>
        </form>
        <div class="nav-item btn-group ms-3">
          <button
            class="btn btn-outline-dark"
            type="button"
            title="Previous post"
          >
            <i class="bi bi-caret-up-fill"></i>
          </button>
          <button class="btn btn-outline-dark" type="button" title="Next post">
            <i class="bi bi-caret-down-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="pt-3 px-3 content-max prose">
  <!-- PostHeader -->
  <h4 class="my-3">
    <a target="_blank">{% if outline %}{{ outline }}{% endif %}</a>
  </h4>
  <!-- /PostHeader -->
  <div id="posts"></div>
</section>

{% endblock content %}
