{% extends "feedreader/base.html" %}
{% block head %}{% endblock head %}
{% block content %}
<div class="d-block navbar-right-half">
	<div class="navbar navbar-expand-sm navbar-light global-header">
		<div class="collapse navbar-collapse content-max">
      <div class="navbar-nav">
        <div class="nav-item btn-group">
          <button
            class="btn btn-outline-dark"
            type="button"
            title="Toggle fullscreen"
          >
            <i class="bi bi-arrows-fullscreen"></i>
          </button>
          <button class="btn btn-outline-dark" type="button" title="Refresh">
            <i class="bi bi-arrow-clockwise"></i>
          </button>
          <button class="btn btn-outline-dark" type="button" disabled>
            Mark all as read
          </button>
          <button class="btn btn-outline-dark" type="button">&nbsp;</button>
          <button class="btn btn-outline-dark">&nbsp;</button>
        </div>
      </div>
			<div class="justify-content-end nav" style="flex:1">
        <span class="navbar-text">Welcome, {{ user.username }}</span>
        <div class="btn-group ms-3">
          <a
            class="nav-item btn btn-outline-dark"
            href="{% url 'admin:index' %}"
          >
            <i class="bi bi-gear"></i>
            Manage
          </a>
          <a class="btn btn-outline-dark" href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-left"></i>
            Logout
          </a>
        </div>
        <div class="nav-item btn-group ms-3">
          <button
            class="btn btn-outline-dark"
            type="button"
            title="Previous post"
          >
            <i class="bi bi-caret-up-fill"></i>
          </button>
          <button class="btn btn-outline-dark" type="button" title="Next post">
            <i class="bi bi-caret-down-fill"></i>
          </button>
        </div>
			</div>
		</div>
	</div>
</div>
<section class="pt-3 px-3 content-max prose">
	<!-- PostHeader -->
	<h4 class="my-3">
		<a target="_blank">{% if outline %}{{ outline }}{% endif %}</a>
	</h4>
	<!-- /PostHeader -->
	<div id="posts"></div>
	<!-- <div style="height: 50vh"></div> -->
</section>

{% endblock content %}
