{% load static %}
{% load mptt_tags %}
<ul id="outlines" class="feeds{% if config.show_only_unread %} show-only-unread{% endif %}">
    {% recursetree nodes %}
        <li data-unread-count="{{ node.unread_count }}" class="outline {% if node.unread_count > 0 %}has-unread {% endif %}{% if node.feed_id %}feed{% else %}folder{% if not node.folder_opened %} folder-closed{% endif %}{% endif %}" id="outline-{{ node.id }}">
            <div class="outline-line"{% if node.feed %} style="background-image:url('{%url 'favicon' node.pk %}')"{% endif %}>
                <a class="outline-text" href="outline/{{ node.id }}/" title="{{ node.title }}">{{ node.title }}</a>
                <span class="outline-unread-count">{{ node.unread_count }}</span>
            </div>
            {% if not node.is_leaf_node %}
                <ul>
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
