@import "custom";

body, html {
	height: 100%;
}

#app {
	display: flex;
	flex-direction: row;
	min-height: 100%;
	max-height: 100%;
}

.sidebar {
	position: fixed;
	width: 18rem;
	top: 0;
	bottom: 0;
	flex-direction: column;
	display: flex;
	z-index: 1;

	flex-basis: 270px;
	flex-shrink: 0;

	.navbar-brand h6 {
		padding: 1rem;
		line-height: 29px;
		font-size: 1.3rem;
	}

	.global-header {
		flex-shrink: 0;
	}
	.navbar {
		z-index: 1;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1),0 3px 5px 0 rgba(0,0,0,.02);
	}

	#sidebar {
		min-height: 0;
		.aside, #version {
			border-right: 1px solid #0000001a;
		}
		.aside {

			display: block;
			flex: 1 1;
			overflow-x: hidden;
			overflow-y: hidden;
			&:hover {
				overflow-y: auto;
			}
		}
	}
}

.navbar {
	padding-left: 1rem;
	padding-right: 1rem;
}

.global-header {
	height: 4rem;
	width: 100%;

	// makes the shadow between the navbars disappear
	&:before {
    display: block;
    content: "";
    background-color: #fff;
    width: 10px;
    left: -5px;
    height: 100%;
    position: absolute
	}
}

.content-max {
	box-sizing: content-box;
	// max-width: 1000px;
}

main {
	margin-left: 18rem;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	min-width: 0;

	&.fullscreen section {
		margin-left: -18rem;
		// max-width: calc(1000px + 18rem);
	}
}
.navbar-right-half {
	background-color: #fff;
	z-index: 10;
	position: fixed;
	width: calc(100% - 18rem);
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 3px 5px 0 rgb(0 0 0 / 2%);
}

.content-max.prose {
	margin-top: 4rem;
}

#new-feed-popup {
	display: none;
}

ul.clean
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.clean li
{
	display: block;
	text-align: left;
	margin-bottom: 1em;
}
/* navigation */

#navigation .button .ui-button-text
{
	line-height: 1;
}

#outlines
{
	/*border: 1px solid red; /**/
	list-style: none;
	padding-left: 0;
}
#outlines > li
{
	/*border: 1px solid green; /**/
}

#outlines ul
{
	/*border: 1px solid pink; /**/
	list-style: none;
	margin-left: 20px;
	padding-left: 0em;
}

#outlines ul > li
{
	/*border: 1px solid blue;*/
}

#outlines .outline-line
{
	background-image: url('../images/icons/silk/feed.png');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	padding-left: 20px;
	margin-bottom: .5em;
	vertical-align: center;
}

#outlines .outline-text
{
	height: 16px;
	line-height: 16px;
	display: inline-block;
	overflow: hidden;
	max-width: 125px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#outlines .outline.has-unread > .outline-line > .outline-text
{
	font-weight: bold;
}

#outlines .outline-unread-count
{
	font-size: 0.8em;
	color: #666;
	display: inline-block;
	padding: 0 0 0 4px;
	margin-right: 16px;
}

#outlines li.folder > .outline-line
{
	background-image: url( '../images/icons/silk/folder.png' );
}
#outlines li.folder-closed > .outline-line
{
	background-image: url( '../images/icons/silk/folder_feed.png' );
}
#outlines li.folder-closed > ul
{
	display: none;
}

#outlines a, #outlines a:active, #outlines a:hover, #outlines a:visited
{
	color: #333;
	text-decoration: none;
}

/* end navigation */

.post
{
	border: 1px solid lightgray;
	margin-bottom: 1em;
}

.post.current { border-left-color: blue; }

.post .body
{
	padding: .5em;
}

.post .link
{
	font-size: 1.5em;
	float: left;
}
.post .link a { text-decoration: none; color: black; font-weight: bold; }
.post.current .link a { color: blue; }

.post .pubDate
{
	float: right;
}

.post .source
{
	float: none;
	clear: both;
}

.post .authorName
{
	font-style: italic;
}

.post .content
{
	/*background-color: #ddd;*/
	overflow: auto;
}

.post .footer
{
	border-top: 1px solid lightgray;
	background-color: #e0e0e0;
	padding: .5em;
}
