@import "custom";


ul.clean
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.clean li
{
	display: block;
	text-align: left;
	margin-bottom: 1em;
}
/* navigation */

#navigation .button .ui-button-text
{
	line-height: 1;
}

#outlines
{
	/*border: 1px solid red; /**/
	list-style: none;
	padding-left: 0;
}
#outlines > li
{
	/*border: 1px solid green; /**/
}

#outlines ul
{
	/*border: 1px solid pink; /**/
	list-style: none;
	margin-left: 20px;
	padding-left: 0em;
}

#outlines ul > li
{
	/*border: 1px solid blue;*/
}

#outlines .outline-line
{
	background-image: url('../images/icons/silk/feed.png');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	padding-left: 20px;
	margin-bottom: .5em;
	vertical-align: center;
}

#outlines .outline-text
{
	height: 16px;
	line-height: 16px;
	display: inline-block;
	overflow: hidden;
	max-width: 125px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#outlines .outline.has-unread > .outline-line > .outline-text
{
	font-weight: bold;
}

#outlines.show-only-unread .outline > .outline-line { display: none; }
#outlines.show-only-unread .outline.has-unread > .outline-line { display: block; }

#outlines .outline-unread-count
{
	font-size: 0.8em;
	color: #666;
	display: inline-block;
	padding: 0 0 0 4px;
	margin-right: 16px;
}

#outlines li.folder > .outline-line
{
	background-image: url( '../images/icons/silk/folder.png' );
}
#outlines li.folder-closed > .outline-line
{
	background-image: url( '../images/icons/silk/folder_feed.png' );
}
#outlines li.folder-closed > ul
{
	display: none;
}

#outlines a, #outlines a:active, #outlines a:hover, #outlines a:visited
{
	color: #333;
	text-decoration: none;
}

/* end navigation */

#content { outline: none; }

#posts
{
}

.post
{
	border: 1px solid lightgray;
	margin-bottom: 1em;
}

.post.current { border-left-color: blue; }

.post .body
{
	padding: .5em;
}

.post .link
{
	font-size: 1.5em;
	float: left;
}
.post .link a { text-decoration: none; color: black; font-weight: bold; }
.post.current .link a { color: blue; }

.post .pubDate
{
	float: right;
}

.post .source
{
	float: none;
	clear: both;
}

.post .authorName
{
	font-style: italic;
}

.post .content
{
	/*background-color: #ddd;*/
	overflow: auto;
}

.post .footer
{
	border-top: 1px solid lightgray;
	background-color: #e0e0e0;
	padding: .5em;
}
